<div class="header clear-fix">
	<a class="logo" href="{{ site.baseurl }}/">moon's blog</a>
	<ul class="menu">
		<li {% if include.cur == 'home' %}class="active"{% endif %}><a href="{{ site.baseurl }}/">首页</a></li>
		<li {% if include.cur == 'style' %}class="active"{% endif %}><a href="{{ site.baseurl }}/style">CSS</a></li>
		<li {% if include.cur == 'js' %}class="active"{% endif %}><a href="{{ site.baseurl }}/javascript">javascript</a></li>
		<li {% if include.cur == 'me' %}class="active"{% endif %}><a href="{{ site.baseurl }}/master">主人</a></li>
	</ul>
</div>